body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    background-color: #000000;
    margin: var(--grid--app-margin);
    padding: 0;
    color: white;
    opacity: 0.90;
    font-weight: 400;
}

h1{
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
}

nav{
    position: fixed;
    top: var(--grid--app-xheight);
    left: var(--grid--app-margin);
    z-index: 100;
}

nav a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    opacity: 0.45;
    font-size: var(--font--size-regular);
    padding: 1px 0;
}
nav .content:hover{
    cursor: pointer;
}
nav a:hover{
    cursor: pointer;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    transition-property: color;
    color: white;
    opacity: 90;
}

nav a.item.is--active {
    opacity: 90;
}



/* Sections
----------------------------------------------------------------------------- */
.section {
    display: grid;
    grid-template-columns: var(--grid--app-columns);
    gap: var(--grid--app-gutter);
}
.section > .content {
    grid-column: 5 / -1;
}

.section h2 {
    margin-left: var(--font--margin-left);
    font-size: var(--font--size-huge);
    /* font-size: 4rem; */
    line-height: 0.975;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-top: 0;
  }

/* Section intro
----------------------------------------------------------------------------- */

.section.intro > .content {
    position: relative;
    padding: calc(var(--grid--app-xheight) - 52px) 0 80px 0;
}

.section.intro .options {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.section.intro .options:hover {
    cursor: pointer;
}
.section.intro .options .option {
    font-size: var(--font--size-regular);
    line-height: 20px;
    padding: 12px 10px;
    color: white;
    opacity: 0.45;
    white-space: nowrap;
}
.section.intro .options .option:hover {
    color: white;
    opacity: 90;
    cursor: pointer;
}
.section.intro .options .option:first-child {
padding-left: 0;
}
.section.intro .options .option:last-child {
padding-right: 80px;
}
.section.intro .options .option.is--active {
    color: white;
    opacity: 90;
}

.section.intro .text {
    min-height: calc(1em * 0.975 * 7);
    display: none;
}
.section.intro .text.is--visible {
    display: block;
}
.section.intro .text span {
    white-space: nowrap;
}

/* Section work
----------------------------------------------------------------------------- */

.section.work {
    padding: 0;
    display: flex;
}

.section.work > .content {
    padding: 50vh 0 20px 0;
    display: grid;
    grid-template-columns: var(--grid--app-columns);
    gap: var(--grid--app-gutter);
}

.section.work .project1 {
    padding-bottom: 80px;
    /* grid-column: 2 / -1;
    column-span: 2; */
    grid-column: 5 / span 5;
}

.section.work .project2 {
    grid-column: 5 / span 5;
}

/* Section education
----------------------------------------------------------------------------- */

.section.education > .content {
    padding: 50vh 0 20px 0;
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
    gap: var(--grid--app-gutter);
}

.section.education .school {
    padding-bottom: 80px;
    grid-column: 1 / -1;
}

/* section.education .major {
    grid-column: 2 / -1;
    grid-column: 2;
} */

/* Section skills
----------------------------------------------------------------------------- */

.section.skills > .content {
    padding: 50vh 0 20px 0;
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
    gap: var(--grid--app-gutter);
}

/* .section.skills .skill {
    padding-bottom: 80px;
    grid-column: 1 / -1;
}

.section.skills .tools {
    grid-column: 1 / -1;
} */

/* Section Contact
----------------------------------------------------------------------------- */

.section.contact > .content {
    padding: 50vh 0 20px 0;
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
    gap: var(--grid--app-gutter);
}

.section.contact .text {
    padding-bottom: 80px;
    grid-column: 1 / -1;
}
