body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    background-color: #000000;
    margin: var(--grid--app-margin);
    padding: 0;
    color: white;
    font-weight: 400;
}

h1{
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
}

nav{
    position: fixed;
    top: var(--grid--app-xheight);
    left: var(--grid--app-margin);
    z-index: 100;
}

nav a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    opacity: 0.45;
    font-size: var(--font--size-regular);
    padding: 1px 0;
}
nav .content:hover{
    cursor: pointer;
}
nav a:hover{
    cursor: pointer;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    transition-property: color;
    color: white;
    opacity: 90;
}

nav a.item.is--active {
    opacity: 90;
}

.section p{
    color: rgb(255, 255, 255, 0.85);
}



/* Sections
----------------------------------------------------------------------------- */
.section {
    display: grid;
    grid-template-columns: var(--grid--app-columns);
    gap: var(--grid--app-gutter);
}
.section > .content {
    grid-column: 5 / -1;
}

.section h2 {
    margin-left: var(--font--margin-left);
    font-size: var(--font--size-huge);
    /* font-size: 4rem; */
    line-height: 0.975;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-top: 0;
}

.section h3 {
    margin-left: var(--font--margin-left);
    /* font-size: var(--font--size-large); */
    font-size: 3rem;
    line-height: 0.975;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

/* Section intro
----------------------------------------------------------------------------- */

.section.intro > .content {
    position: relative;
    padding: calc(var(--grid--app-xheight) - 52px) 0 80px 0;
}

.section.intro .options {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.section.intro .options:hover {
    cursor: pointer;
}
.section.intro .options .option {
    font-size: var(--font--size-regular);
    line-height: 20px;
    padding: 12px 10px;
    color: white;
    opacity: 0.45;
    white-space: nowrap;
}
.section.intro .options .option:hover {
    color: white;
    opacity: 90;
    cursor: pointer;
}
.section.intro .options .option:first-child {
padding-left: 0;
}
.section.intro .options .option:last-child {
padding-right: 80px;
}
.section.intro .options .option.is--active {
    color: white;
    opacity: 90;
}

.section.intro .text {
    min-height: calc(1em * 0.975 * 7);
    display: none;
}
.section.intro .text.is--visible {
    display: block;
}
.section.intro .text span {
    white-space: nowrap;
}

/* Section work
----------------------------------------------------------------------------- */

.section.work {
    padding: 0;
    display: flex;
}

.section.work > .content {
    padding: 50vh 0 20px 0;
    display: grid;
    grid-template-columns: var(--grid--app-columns);
    gap: var(--grid--app-gutter);
}

.section.work .project1 {
    padding-bottom: 80px;
    /* grid-column: 2 / -1;
    column-span: 2; */
    grid-column: 5 / span 5;
}

.section.work .project2 {
    grid-column: 5 / span 5;
}

/* Section education
----------------------------------------------------------------------------- */

.section.education > .content {
    padding: 280px 0 var(--grid--app-margin) 0;
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
    gap: var(--grid--app-gutter);
}

.section.education .school {
    padding-bottom: 80px;
    grid-column: 1 / -1;
}

.title{
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: var(--font--margin-left);
}

/* Section skills
----------------------------------------------------------------------------- */

.section.skills > .content {
    padding: 220px 0 var(--grid--app-margin) 0;
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
    gap: var(--grid--app-gutter);
}

/* .section.skills .skill {
    padding-bottom: 80px;
    grid-column: 1 / -1;
}

.section.skills .tools {
    grid-column: 1 / -1;
} */

.skill h3, .tool h3{
    margin-bottom: 2rem;
}

.skill ul, .tool ul, .school ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255, 0.85);
}

.skill ul li,  .tool ul li, .school ul li{
    font-weight: 400;
    /* margin-top: 0.5rem; */
    margin-bottom: 1rem;
}


/* Section contact
----------------------------------------------------------------------------- */

.section.contact > .content {
    padding: 220px 0 var(--grid--app-margin) 0;
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
    gap: var(--grid--app-gutter);
}

.section.contact > .content .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section.contact .actions {
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
    gap: var(--grid--app-gutter);
}

.section.contact .status h3,
.section.contact .actions a {
    line-height: 1.375;
}

.section.contact .image figure {
    position: relative;
}

img {
    display: block;
    user-select: none;
}

figure{
    margin: 0;
}

.section.contact .image img {
    width: 100%;
    height: 100%;
}

.link{
    margin-top: 2rem;
}

.section.contact .actions a, .section.contact .status a {
    color: rgb(255, 255, 255, 0.85);
    text-decoration: none;
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.85);
}

.section.contact .actions a:hover, .section.contact .status a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 1.5px solid rgb(255, 255, 255, 0.85);
}



/* Visualization Page
----------------------------------- */

/* Section Visualization
----------------------------------------------------------------------------- */

.section.visualization > .content {
    position: relative;
    padding: calc(var(--grid--app-xheight) - 52px) 0 80px 0;
}

/* SVG Chart
----------------------------------- */
.section.visualization .chart {
    opacity: 0.95;
    margin-top: 1rem;
}

.section.visualization p{
    color: rgb(255, 255, 255, 0.9);
}

.svgChart{
    margin-top: -5rem;
}

.section.visualization .art {
    padding: 80px 0 var(--grid--app-margin) 0;
}

svg.art{
    border: 1px solid #333;
    width: 600px;
    height: 600px;
    background-color: #fff;
}

.spacing{
    margin-bottom: 3rem;
}

.spacing2{
    margin-bottom: 1rem;
}

.visualization h4{
    margin-left: var(--font--margin-left);
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 0;
}



/* A3 Vega-Lite Visualization
----------------------------------------------------------------------------- */
#view1, #view2, #view3, #view4, #view5, #view6{
    width: 100%;
    height: 100%;
}

.chartH{
    margin-top: 3rem;
}

.visTitle{
    margin-top: 5rem;
    font-size: 1.5rem;
}

/* FINAL PROJECT
----------------------------------------------------------------------------- */

img{
    max-width: 100%;
    height: auto;
}

.head{
    font-size: 1.6rem;
    color: rgb(255, 255, 255, 0.99);
    margin-bottom: 1rem;
}

.finalproject li{
    margin: 1rem;
}

/* Vis 1
----------------------------------------------------------------------------- */

.bar {
    fill: steelblue;
  }
  
  .bar:hover {
    fill: orange;
  }
  
  .axis text {
    font-size: 12px;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  /* Style for the chart container */
.vis1 {
    display: block; /* Or inline-block depending on your layout */
    width: 100%; /* Adjust width as needed */
    text-align: center; /* Center align the chart horizontally */
    position: relative; /* Enable custom positioning */
    margin: 50px auto; /* Center the chart vertically with margin */
    top: 0; /* Adjust top position */
    left: 0; /* Adjust left position */
}

.caption{
    font-style: italic;
    margin-top: -1.5rem;
}

/* Vis 2
----------------------------------------------------------------------------- */
.line {
    fill: none;
    stroke-width: 2;
  }
  .line.scored {
    stroke: steelblue;
  }
  .line.conceded {
    stroke: crimson;
  }
  .axis-label {
    font-size: 12px;
  }
  #vis-container {
    text-align: center;
    margin-top: 20px;
  }